<ion-content [fullscreen]="true">
  <ion-grid [fixed]="true">
    <ion-row>
      <ion-col class="user-info">
        <user-id></user-id>
      </ion-col>
    </ion-row>
    <shift-input></shift-input>
    <ion-row>
      <ion-col class="subtitle">
        <ion-label>LISTADO DE TAREAS</ion-label>
      </ion-col>
    </ion-row>  
    
      <task-item></task-item>    
      <task-item></task-item>
      <task-item></task-item>    
      <task-item></task-item>
     
  </ion-grid>

</ion-content>

<app-footer></app-footer>