<ion-footer class="ion-no-border">
  <div class="footer">
    <ion-grid>
      <ion-row>
        <ion-col><ion-icon src="../../assets/icon/programming-arrow.svg"></ion-icon>
          <p>Rondas</p>
        </ion-col>
        <ion-col><ion-icon src="../../assets/icon/task.svg"></ion-icon>
          <p>Tareas</p>
        </ion-col>
        <ion-col>
          <div class="outer-clock">
          <div class="clock"><ion-icon src="../../assets/icon/clock.svg"></ion-icon></div>
          </div>
        </ion-col>
        <ion-col><ion-icon src="../../assets/icon/edit-2.svg"></ion-icon>
          <p>Novedad</p>
        </ion-col>
        <ion-col><ion-icon src="../../assets/icon/user.svg"></ion-icon>
          <p>Usuario</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-footer>

