@import '../../../theme/variables.scss';

ion-footer {    
    background-color: #fff;   
}

.footer {
    margin-top: 24px;
    height: 77px;
    border-radius: 32px 32px 0 0;
    border: 1px $main-color solid;
    background-color: white;
    color: $main-color;
  
    ion-col {
      text-align: center;
      
      p {
        font-family: 'abeezee';
        margin-top: 3px;
        font-size: 12px;
      }
  
      ion-icon {
        margin-top: 10px;
        font-size: 24px;
  
        stroke: $main-color;
      }
  
      .outer-clock {
  
        width: 96px;
        height: 96px;
        background-color: #fff;
        border-radius: 50px;
        margin-top: -33px;
        padding: 5px;
  
        .clock {
          width: 85px;
          height: 85px;
          background-color: $main-color;
          border: 5px $blue-1 solid;
          padding: 17px;
          border-radius: 50px;
          position: absolute;
          margin-left: auto;
          margin-right: auto;  
          ion-icon {
            margin-top: 10px;
            font-size: 24px;  
            stroke: #fff;
          }
        }
      }
    }
  
  }