@import '../../../theme/variables.scss';

.task-item{
    padding: 10px 0px 5px 0px;
    margin-left: 20px;
    margin-right: 20px;
    border-bottom: 1px $gray-2 solid;
}

ion-item{
    height: 56px;
    // margin-left: 20px;
    // margin-right: 20px;
    // margin-top: 10px;
    color: $main-color;    
}

ion-item::part(native) {
    height: 38px;
    border-color: black;    
    border-left: 1px black solid;      
    border-bottom: 1px white solid;
  }

ion-icon{
    width: 20px;
    height: 20px;
    stroke: $main-color;    
    fill: $main-color;
}

ion-label{
    font-family: 'lexend-medium';
    font-size: 14px;
    font-weight: 500;
    margin-left: 30px;
    
}

.icon-wrapper{
    width: 40px;
    height: 40px;
    background-color: $gray-2;
    padding-top: 10px;
    padding-left: 10px;
    border-radius: 50px;
}