ion-content{
    font-family: 'lexend-medium';    
    font-weight: 500;
    font-size: 28px;
    
}
  
.main-image{    
    margin-top: 146px;
    margin-left: auto;
    margin-right: auto; 
    width: 183px;
}

.second-image{    
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto; 
    width: 331px;
}