<ion-tabs>

  <ion-tab-bar slot="bottom">
    <div class="tabs">
      <ion-tab-button tab="rounds" href="/main/rounds">
        <ion-icon src="../../assets/icon/programming-arrow.svg"></ion-icon>
        <p>Rondas</p>
      </ion-tab-button>
      <ion-tab-button tab="tasks" href="/main/tasks">
        <ion-icon src="../../assets/icon/task.svg"></ion-icon>
        <p>Tareas</p>
      </ion-tab-button>
      <ion-tab-button tab="home" href="/main/home" class="clock-tab">
        <div class="outer-clock">
          <div class="clock"><ion-icon src="../../assets/icon/clock.svg"></ion-icon></div>
        </div>
      </ion-tab-button>
      <ion-tab-button tab="news" href="/main/news">
        <ion-icon src="../../assets/icon/edit-2.svg"></ion-icon>
        <p>Novedad</p>
      </ion-tab-button>
      <ion-tab-button tab="profile" href="/main/profile">
        <ion-icon src="../../assets/icon/user.svg"></ion-icon>
        <p>Usuario</p>
      </ion-tab-button>
    </div>
  </ion-tab-bar>

</ion-tabs>