<ion-content [fullscreen]="true">
  <ion-grid [fixed]="true">
    <ion-row>
      <ion-col class="user-info">
        <user-id></user-id>
      </ion-col>
    </ion-row>

    <shift-input></shift-input>
    <ion-row>
      <ion-col class="subtitle">
        <ion-label>NOVEDAD</ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="text-area">
        <ion-textarea placeholder="Type something here" class="custom" fill="outline" rows="8"></ion-textarea>
      </ion-col>
    </ion-row>
    <ion-row class="media-space">
      <ion-col>
        <div class="media-button">
          <ion-icon src="../../assets/icon/microphone-2.svg"></ion-icon>
        </div>
      </ion-col>
      <ion-col>
        <div class="media-button">
          <ion-icon src="../../assets/icon/video.svg"></ion-icon>
        </div>
      </ion-col>
      <ion-col>
        <div class="media-button">
          <ion-icon src="../../assets/icon/camera.svg"></ion-icon>
        </div>
      </ion-col>
    </ion-row>

    <ion-button expand="block" class="orange-button">ENVIAR</ion-button>
  </ion-grid>

</ion-content>

