<ion-content [fullscreen]="true">
  <ion-grid [fixed]="true">
    <ion-row>
      <ion-col class="user-info">
        <user-id></user-id>
      </ion-col>
    </ion-row>
    <ion-button expand="block" class="orange-button">DATOS PERSONALES</ion-button>
    <ion-grid class="profile-cards">
      <ion-row>
        <ion-col size="6" >
          <ion-card class="blue">
            <div class="card-icon">
              <ion-icon src="../../assets/icon/fatrows.svg"></ion-icon>

            </div>
            
            <p class="subtitle">Texto 1</p>
          </ion-card>

        </ion-col>
        <ion-col size="6" >
          <ion-card class="green-1">
            <div class="card-icon">
              <ion-icon src="../../assets/icon/fatrows.svg"></ion-icon>

            </div>
            
            <p class="subtitle">Texto 2</p>
          </ion-card>

        </ion-col>
        <ion-col size="6" >
          <ion-card class="green-2">
            <div class="card-icon" >
              <ion-icon src="../../assets/icon/fatrows.svg"></ion-icon>

            </div>
            
            <p class="subtitle">Texto 3</p>
          </ion-card>

        </ion-col>
        <ion-col size="6" >
          <ion-card class="red">
            <div class="card-icon">
              <ion-icon src="../../assets/icon/fatrows.svg"></ion-icon>

            </div>
            
            <p class="subtitle">Texto 4</p>
          </ion-card>

        </ion-col>
        
      </ion-row>
    </ion-grid>
    <ion-button expand="block" class="red-button">SALIR</ion-button>
  </ion-grid>

</ion-content>

