<ion-content [fullscreen]="true">
  <ion-grid [fixed]="true">
    <ion-row>
      <ion-col class="user-info">
        <user-id></user-id>
      </ion-col>
    </ion-row>
    <shift-input></shift-input>

    <ion-button expand="block" class="blue-button">Comenzar Ronda</ion-button>
    <ion-button expand="block" class="orange-button">Punto 1</ion-button>
    <ion-button expand="block" class="orange-button">Punto 2</ion-button>
    <ion-button expand="block" class="orange-button">Punto 3</ion-button>
    <ion-button expand="block" class="orange-button">Punto 4</ion-button>
  </ion-grid>

</ion-content>

